<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webscraper in Python using Flask</title>
</head>
<body>
    <div>
        <img src="{{ img_link }}" alt="Profile Picture" style="border-radius: 50%; height: 100px; width: 100px">
        <h2 style="color: #333">{{ profile }}</h2>
        <p style="color: rgb(92, 92, 92)">{{ desc }}</p>
    </div>
</body>
</html>